@import "tailwindcss";

@theme {
  --font-sans: "Nothing You Could Do", "Klee One", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: #b2b2b2;
  background-image: url(/osage.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
body {
  filter: invert(0);
}
